body {
    font-family: 'Quicksand', sans-serif;
    font-size:1.2rem;
    text-align:center;
    background-color: lightgray;

}
form {
    margin-top:25px;
}
input[type="text"] {
    box-sizing:border-box;
    width:90%;
    height:100px;
    margin:5%;
    margin-bottom:0;
}
button[type="submit"] {
    width:90%;
    font-family: 'Quicksand', sans-serif;
}
button:focus {
    border:none;
    text-decoration:none;
}