body{
    /* font-family: Arial, Helvetica, sans-serif;
    font-family: 'Quicksand', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #d8e2dc; 
}


header{
    position:fixed;
    /* background: #61eb34; */
    padding-block: 20px;
    width: 100%;
    height: 30px;
    padding-left: 20px;
}


.left_area h3{
    margin: 0;
    font-size: 22px;

}

.right_area{
    padding: 5px;
    /* background:grey; */
    text-decoration: none;
    float: right;
    margin-top: -30px;
    margin-right: 40px;
    border-radius: 2px;
}

.sidebar{
    /* background:; */
    margin-top: 20px;
    padding-top: 20px;
    position: fixed;
    left: 0;
    width: 310px;
    height: 100%;
    

}

.sidebar a{
    display: block;
    width: 70%;
    height:60px;
    font-size: 20px;
    line-height: 50px;
    padding-left: 0px;
    box-sizing: border-box;
    transition: background 0.5s;
    /* transition-property:; */
     transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); 
     color:black;
     
  

}

/* .sidebar span:nth-of-type(odd){
    background-color:#DCDCDC;
} */


.sidebar i{
    padding-left: 10px;
    padding-right: 5px;

}

.content{
    margin-left: 250px;
    padding-right: 10px;
    padding-top: 100px;
}
.content li{
    /* text-align:center; */
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    padding:3px;
}

#notes{
    line-height: 50px;
    padding-top: 10px;
    padding-left:0px;
    margin-right: 6px;
}

.deleteButton {
    display:inline-block;
  
    width:50px;
    height:30px;
    background-color:white;
    color:gray;
    border:none;
}
.deleteButton:hover {
    color:rgb(172, 172, 172);
}
.deleteButton:focus {
    outline: none;
}
.main-text-box{
    width:100%;
    height:200px;
}
.submit-button {
   border: none;
   background-color:rgb(97, 97, 97);
   color:white;
}
.submit-button:hover {
    opacity:0.8;
}
form {
    display:flex;
    flex-direction: column;
    margin-left: 0px;
    padding-right: 10px;
}


/* Adding the tabs css */

.active{
    opacity : 1 !important;
    
}

.hide {
    display: none;
} 
#note-tab {
    background-color:#ffcad4;
    
}
#reminder-tab {
    background-color:#ffe5d9;
}
#about-tab {
    background-color:rgb(255, 255, 134);
    
}
.sidebar a:hover{
    opacity:0.8;
    text-decoration: none;
}